@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

/* ---------- Global ---------- */

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 0;

  font-family: "Poppins", sans-serif;

  background: #030712;
  color: white;

  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow-x: hidden;
}

/* ---------- Reset ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- Images ---------- */

img {
  max-width: 100%;
  display: block;
}